html, body{
	margin:0;
	padding:0;

}
#bgimg{
	background-image:url("images/spacebg.jpg");
	height:100%;
	width:100%;
}

input{
	width:100%;
	box-sizing:border-box;
	padding:6% 0 6% 0;
}

input:not(:first-child){

	margin-top:5%;
}

#emailandpassword{
	display:block;
	width:80%;
	margin:0 auto 0 auto;
}

input[type=text], input[type=password]{

	text-align:center;
}


#mobiLogin{

	border:0 none;
	font-family: sans-serif;
	color:white;
	font-size:1em;
	text-align:center;
	letter-spacing:20px;
	text-indent:10px;
	background-color:black;
}

#logo h1{
	color:black;
	width:100%;
	font-family: 'Oswald', sans-serif;
	text-align:center;
	letter-spacing:3px;
	font-size:5em;
}

#artist, #song, #lyric, h2 {
	text-align:center;
	width:100%;
	padding:3% 0 3% 0;
	margin:0;
}

h2{
	color:white;
}


#artistDiv{
	height:10%;
	display:block;
	background-color: #E65B5A;
}
#songDiv{
	background-color:#E68584;
	height:10%;
}

#lyricDiv{
	height:60%;
	background-color:#66AE96;
}

#buttonDiv{
	height:auto;
	width:100%;
	text-align:center;
}

input[type="button"]{
	font-weight:700;
	color:white;
	background-color:#FF7373;
}

input[type="text"]{
	color:black;
}

